@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content" >
        <div class="main-content-inner">
            <div class="page-content" >
            </div>
        </div>
    </div>
</div>
@section script{
<script type="text/javascript">
    console.log($(window).height())
</script>
}

