@*<ul id="right_handMenu" class="ui-menu ui-widget ui-widget-content">
    <li class="ui-menu-item" id="relaod">
        重新加载
    </li>
    <li class="ui-menu-item" id="copy">复制 <span id="btnCopy">复制</span> </li>
    <li class="ui-menu-item" id="paste">粘贴</li>
</ul>*@


